.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item{
  margin-right: 1em;
  transition: 0.5s;
}

.item a{
  color: #fff;
  text-decoration: none;
}

.item a:hover{
  color:#ffbb33;
}

.item:hover{
  transform: scale(1.1);
  transition: 0.5s;
}